In [1]:
import pandas as pd
import numpy as np

import sqlite3

names = ('Badges', 'PostLinks', 'Tags', 'Votes', 'Comments', 'Posts', 'Users')

for name in names:
    print(name)
    print(
        pd.read_csv(f"Exercise02/{name}.csv").head()
    )
    print('-'*10)

Badges
   Class                     Date  Id            Name  TagBased  UserId
0      3  2010-08-25T19:26:49.423   1  Autobiographer     False       2
1      3  2010-08-25T19:26:49.440   2  Autobiographer     False       3
2      3  2010-08-25T19:26:49.457   3  Autobiographer     False       4
3      3  2010-08-25T19:41:49.283   4  Autobiographer     False       6
4      3  2010-08-25T19:41:49.283   5  Autobiographer     False       7
----------
PostLinks
              CreationDate  Id  LinkTypeId  PostId  RelatedPostId
0  2010-08-26T20:33:50.797  31           1     262            261
1  2010-08-29T21:51:09.093  47           1     401            244
2  2010-08-30T01:57:19.137  48           1     132              3
3  2010-08-31T19:13:55.077  65           1     367             27
4  2010-08-31T19:13:55.077  66           1     367            246
----------
Tags
   Count  ExcerptPostId  Id    TagName  WikiPostId
0     21            NaN   1   schrader         NaN
1     44            NaN   2     presta         NaN
2    636         3176.0   4      chain      3175.0
3    117         5375.0   5  lubricant      5374.0
4    594         5390.0   6     frames      5389.0
----------
Votes
   BountyAmount             CreationDate  Id  PostId  UserId  VoteTypeId
0           NaN  2010-08-25T00:00:00.000   2       1     NaN           2
1           NaN  2010-08-25T00:00:00.000   3       4     NaN           2
2           NaN  2010-08-25T00:00:00.000   4       1     NaN           2
3           NaN  2010-08-25T00:00:00.000   5       1     NaN           2
4           NaN  2010-08-25T00:00:00.000   7       6     NaN           2
----------
Comments
              CreationDate  Id  PostId  Score  UserId
0  2010-08-25T19:43:35.443   1       4      0    21.0
1  2010-08-25T19:48:26.577   2       4      0    10.0
2  2010-08-25T19:57:17.707   5      23      2    38.0
3  2010-08-25T19:58:32.917   6       8      0    27.0
4  2010-08-25T19:58:59.657   7      23      1    28.0
----------
Posts
   AcceptedAnswerId  AnswerCount ClosedDate  CommentCount CommunityOwnedDate  \
0              29.0         11.0        NaN             0                NaN
1              43.0          6.0        NaN             2                NaN
2              17.0          3.0        NaN             5                NaN
3              40.0          7.0        NaN             2                NaN
4              34.0          5.0        NaN             2                NaN

              CreationDate  FavoriteCount  Id         LastActivityDate  \
0  2010-08-25T19:41:17.837            4.0   1  2013-08-30T20:25:22.773
1  2010-08-25T19:41:19.520            1.0   2  2019-08-05T01:24:35.090
2  2010-08-25T19:41:38.863            NaN   4  2017-01-31T09:49:05.640
3  2010-08-25T19:42:10.720            7.0   5  2015-12-30T01:34:02.043
4  2010-08-25T19:42:15.913            2.0   6  2013-12-18T12:16:00.253

              LastEditDate  LastEditorUserId  OwnerUserId  ParentId  \
0  2013-08-30T18:06:36.450            4239.0          7.0       NaN
1                      NaN               NaN         13.0       NaN
2                      NaN               NaN         10.0       NaN
3  2012-08-14T16:54:24.553            3649.0         15.0       NaN
4                      NaN               NaN         17.0       NaN

   PostTypeId  Score                                              Title  \
0           1     42         Can I use a Presta tube in a Schrader rim?
1           1     13      What is the easiest way to fix a loose chain?
2           1     16     How do I measure the size of my bicycle frame?
3           1     31  How to get a bike from one city to another in ...
4           1     22  How do I reduce slack in the chain of a single...

   ViewCount
0    73793.0
1    76081.0
2    19079.0
3     6603.0
4    28689.0
----------
Users
                                             AboutMe  AccountId  \
0  <p>Hi, I'm not really a person.</p>\n\n<p>I'm ...       -1.0
1  <p><a href="http://blog.stackoverflow.com/2010...    29738.0
2  <p><a href="http://blog.stackoverflow.com/2009...        3.0
3  <p>I design stuff for Stack Exchange. Also a p...    21721.0
4  <p><a href="http://blog.stackoverflow.com/2010...    34933.0

              CreationDate      DisplayName  DownVotes  Id  \
0  2010-08-25T18:10:17.440        Community       3644  -1
1  2010-08-25T18:36:14.457   Kevin Montrose          0   2
2  2010-08-25T18:45:18.120     Jarrod Dixon          0   3
3  2010-08-25T19:18:05.777              Jin          0   4
4  2010-08-25T19:38:05.023  Robert Cartaino          6   5

            LastAccessDate                     Location ProfileImageUrl  \
0  2010-08-25T18:10:17.440           on the server farm             NaN
1  2014-01-27T19:50:15.807  New York, NY, United States             NaN
2  2013-04-11T20:28:14.103   Raleigh, NC, United States             NaN
3  2019-08-30T03:07:47.940                  Raleigh, NC             NaN
4  2019-08-15T15:09:35.430                 Palm Bay, FL             NaN

   Reputation  UpVotes  Views                      WebsiteUrl
0           1       69      0  http://meta.stackexchange.com/
1         101        0     12       http://kevinmontrose.com/
2         101        8     11          http://jarroddixon.com
3         101        4     48             http://www.8164.org
4         101        5     20                             NaN
----------

In [2]:
conn = sqlite3.connect('pandas_exercises')

for name in names:
    df = pd.read_csv(f"Exercise02/{name}.csv")
    df.to_sql(name, con=conn, if_exists='replace')

In [3]:
dfs = {
    name: pd.read_csv(f"Exercise02/{name}.csv")
    for name in names
}

In [4]:
query1 = """
--- Zadanie 1
SELECT PostId, COUNT(*) AS UpVotes
FROM Votes
WHERE VoteTypeId=2
GROUP BY PostId
"""

In [5]:
pd.read_sql_query(query1, con=conn)

       PostId  UpVotes
0           1       42
1           2       13
2           3       10
3           4       16
4           5       31
...       ...      ...
41776   63933        2
41777   63934        1
41778   63939        1
41779   63940        1
41780   63941        1

[41781 rows x 2 columns]

In [6]:
query2 = """
--- Zadanie 2
SELECT Title, Score, ViewCount, FavoriteCount
FROM Posts
WHERE PostTypeId=1 AND FavoriteCount >= 25 AND ViewCount>=10000
"""

#### Rozwiązanie

In [8]:
posts_df = dfs['Posts']
posts_df = posts_df[(posts_df['PostTypeId'] == 1) 
                    & (posts_df['FavoriteCount'] >= 25)
                    & (posts_df['ViewCount'] >= 10000)]
posts_df[['Title', 'Score', 'ViewCount', 'FavoriteCount']]

,Title,Score,ViewCount,FavoriteCount
220,Terminology index - a list of bike part names ...,165,129577.0,136.0
281,How to clean up at work after a commute?,101,40669.0,25.0
533,What's your most useful cycle accessory?,35,10024.0,30.0
1819,Why ride a fixed-gear bike?,171,196543.0,46.0
7643,How do I deal with a dog chasing me when I'm t...,109,50035.0,32.0

#### Sprawdzenie

In [11]:
pd.read_sql_query(query2, conn)

,Title,Score,ViewCount,FavoriteCount
0,Terminology index - a list of bike part names ...,165,129577.0,136.0
1,How to clean up at work after a commute?,101,40669.0,25.0
2,What's your most useful cycle accessory?,35,10024.0,30.0
3,Why ride a fixed-gear bike?,171,196543.0,46.0
4,How do I deal with a dog chasing me when I'm t...,109,50035.0,32.0

In [23]:
query3 = """
--- Zadanie 3
SELECT Tags.TagName, Tags.Count, Posts.OwnerUserId,
Users.Location, Users.DisplayName
FROM Tags
JOIN Posts ON Posts.Id=Tags.WikiPostId
JOIN Users ON Users.AccountId=Posts.OwnerUserId
WHERE OwnerUserId != -1
ORDER BY Count DESC
"""

In [24]:
tags_df = dfs['Tags']
posts_df = dfs['Posts']
users_df = dfs['Users']

posts_df = posts_df[posts_df['OwnerUserId'] != -1]  # filtr przed joinem optymalizuje działanie

tags_posts_df = tags_df.merge(posts_df, left_on='WikiPostId', right_on='Id')
tags_posts_users_df = tags_posts_df.merge(users_df, left_on='OwnerUserId', right_on='AccountId')

(tags_posts_users_df
 .sort_values('Count', ascending=False)
 [['TagName', 'Count', 'OwnerUserId', 'Location', 'DisplayName']]
)

,TagName,Count,OwnerUserId,Location,DisplayName
0,freewheel,167,3021.0,"Moscow, Russia",jfs
2,preventative-maintenance,62,7044.0,"Manchester, United Kingdom",Codebeef
1,7-speed,21,7044.0,"Manchester, United Kingdom",Codebeef
6,lbs,15,3649.0,NaN,Tim
7,reliability,5,3927.0,"Liverpool, United Kingdom",Will Boyce
5,sociable,2,7044.0,"Manchester, United Kingdom",Codebeef
3,ordinary,1,7044.0,"Manchester, United Kingdom",Codebeef
4,dicycle,1,7044.0,"Manchester, United Kingdom",Codebeef

In [26]:
pd.read_sql_query(query3, conn)

,TagName,Count,OwnerUserId,Location,DisplayName
0,freewheel,167,3021.0,"Moscow, Russia",jfs
1,preventative-maintenance,62,7044.0,"Manchester, United Kingdom",Codebeef
2,7-speed,21,7044.0,"Manchester, United Kingdom",Codebeef
3,lbs,15,3649.0,None,Tim
4,reliability,5,3927.0,"Liverpool, United Kingdom",Will Boyce
5,sociable,2,7044.0,"Manchester, United Kingdom",Codebeef
6,ordinary,1,7044.0,"Manchester, United Kingdom",Codebeef
7,dicycle,1,7044.0,"Manchester, United Kingdom",Codebeef

In [27]:
query4 = """
--- Zadanie 4
SELECT Posts.Title, RelatedTab.NumLinks FROM
(SELECT RelatedPostId AS PostId, COUNT(*) AS NumLinks
FROM PostLinks GROUP BY RelatedPostId) AS RelatedTab
JOIN Posts ON RelatedTab.PostId=Posts.Id
WHERE Posts.PostTypeId=1
ORDER BY NumLinks DESC
"""

In [42]:
postlinks_df = dfs['PostLinks']
posts_df = dfs['Posts']

related_tab_df = (postlinks_df
 .groupby('RelatedPostId')[['PostId']]
 .count()
 .reset_index()
 .rename(columns={
     'PostId': 'NumLinks',
     'RelatedPostId': 'PostId'
    })
)

posts_df = posts_df[posts_df['PostTypeId'] == 1]

(related_tab_df
 .merge(posts_df, left_on='PostId', right_on='Id')
 [['Title', 'NumLinks']]
 .sort_values('NumLinks', ascending=False)
)

                                                  Title  NumLinks
42    Terminology index - a list of bike part names ...       156
2064  Why shouldn't I care what model/make/year my b...       154
1995         How can I tell what year my bike was made?       100
2077  What is the maximum or minimum tire width I ca...        42
627   Front suspension or full suspension mountain bike        37
...                                                 ...       ...
406   I am about to buy a new bicycle - what should ...         1
849                    Disassembly and Shipping of bike         1
1340                Rotating two chains on one cassette         1
850   I was in a collision the other day. What shoul...         1
1473  Why is a tandem harder to ride uphill than a s...         1

[2207 rows x 2 columns]

In [43]:
pd.read_sql_query(query4, conn)

                                                  Title  NumLinks
0     Terminology index - a list of bike part names ...       156
1     Why shouldn't I care what model/make/year my b...       154
2            How can I tell what year my bike was made?       100
3     What is the maximum or minimum tire width I ca...        42
4     Front suspension or full suspension mountain bike        37
...                                                 ...       ...
2202  Total brake failure - trying to understand wha...         1
2203  Sram Red AXS Crank Bolt Cap missing - how to r...         1
2204        Chain Waxing - Strainer / Colander / Other?         1
2205     Can I use 26 1 3/8 tire to replace a 27 1 1/4?         1
2206             What pannier rack for Cube Cross Race?         1

[2207 rows x 2 columns]

In [44]:
query5 = """
--- Zadanie 5
SELECT UpVotesTab.*, Posts.Title FROM
(
SELECT PostId, COUNT(*) AS UpVotes FROM Votes WHERE VoteTypeId=2 GROUP BY PostId
) AS UpVotesTab
JOIN Posts ON UpVotesTab.PostId=Posts.Id
WHERE Posts.PostTypeId=1
ORDER BY UpVotesTab.UpVotes DESC
"""

In [83]:
votes_df = dfs['Votes']
posts_df = dfs['Posts']

upvotes_df = (votes_df
 [votes_df['VoteTypeId'] == 2]
 .groupby('PostId')[['Id']]
 .count()
 .reset_index()
 .rename(columns={'Id': 'UpVotes'})
)

posts_df = posts_df[posts_df['PostTypeId'] == 1]

(upvotes_df
 .merge(posts_df, left_on='PostId', right_on='Id')
 [list(upvotes_df.columns) + ['Title']]
 .sort_values('UpVotes', ascending=False)
)

       PostId  UpVotes                                              Title
393      1980      174                        Why ride a fixed-gear bike?
70        244      167  Terminology index - a list of bike part names ...
1643     8233      110  How do I deal with a dog chasing me when I'm t...
83        308      103           How to clean up at work after a commute?
454      2294       94  Safety data: Which is safer, head/tail lights ...
...       ...      ...                                                ...
3355    16947        1  Are New York pedestrians allowed to use bike l...
5154    29049        1            Retrofit lockout for a suspension fork?
5155    29060        1  Can a 7 speed Derailleur work on a 8 speed cas...
5158    29072        1  3 flats in 650 miles (1030 km) on hybrid bike....
11981   63929        1  How to use cheap nut and bolt bike with a smar...

[11982 rows x 3 columns]

In [84]:
pd.read_sql_query(query5, conn)

       PostId  UpVotes                                              Title
0        1980      174                        Why ride a fixed-gear bike?
1         244      167  Terminology index - a list of bike part names ...
2        8233      110  How do I deal with a dog chasing me when I'm t...
3         308      103           How to clean up at work after a commute?
4        2294       94  Safety data: Which is safer, head/tail lights ...
...       ...      ...                                                ...
11977   63912        1                   DTSwiss rear wheel hub part name
11978   63918        1  Identification of non-standard frame feature a...
11979   63923        1         Proper use of shimano chain measuring tool
11980   63927        1  I'm a fairly new mountain bike rider. Doing a ...
11981   63929        1  How to use cheap nut and bolt bike with a smar...

[11982 rows x 3 columns]

In [82]:
query6 = """
--- Zadanie 6
SELECT UpVotesTab.PostId, UpVotesTab.UpVotes, IFNULL(DownVotesTab.DownVotes, 0) AS DownVotes
FROM
(
SELECT PostId, COUNT(*) AS UpVotes FROM Votes
WHERE VoteTypeId=2 GROUP BY PostId
) AS UpVotesTab
LEFT JOIN
(SELECT PostId, COUNT(*) AS DownVotes FROM Votes
WHERE VoteTypeId=3 GROUP BY PostId
) AS DownVotesTab
ON UpVotesTab.PostId=DownVotesTab.PostId
"""

In [90]:
# Zauważamy, że upvotes_df mamy z poprzedniego zadania

downvotes_df = (votes_df
 [votes_df['VoteTypeId'] == 3]
 .groupby('PostId')[['Id']]
 .count()
 .reset_index()
 .rename(columns={'Id': 'DownVotes'})
)

(upvotes_df
 .merge(downvotes_df, how='left', on='PostId')
 .fillna(0)
)

       PostId  UpVotes  DownVotes
0           1       42        0.0
1           2       13        0.0
2           3       10        0.0
3           4       16        0.0
4           5       31        0.0
...       ...      ...        ...
41776   63933        2        0.0
41777   63934        1        0.0
41778   63939        1        0.0
41779   63940        1        0.0
41780   63941        1        0.0

[41781 rows x 3 columns]

In [91]:
pd.read_sql_query(query6, conn)

       PostId  UpVotes  DownVotes
0           1       42          0
1           2       13          0
2           3       10          0
3           4       16          0
4           5       31          0
...       ...      ...        ...
41776   63933        2          0
41777   63934        1          0
41778   63939        1          0
41779   63940        1          0
41780   63941        1          0

[41781 rows x 3 columns]

In [92]:
query7 = """
--- Zadanie 7
SELECT PostId, UpVotes-DownVotes AS Votes FROM (
SELECT UpVotesTab.PostId, UpVotesTab.UpVotes, IFNULL(DownVotesTab.DownVotes, 0) AS DownVotes
FROM
(
SELECT PostId, COUNT(*) AS UpVotes FROM Votes
WHERE VoteTypeId=2 GROUP BY PostId
) AS UpVotesTab
LEFT JOIN
(
SELECT PostId, COUNT(*) AS DownVotes
FROM Votes WHERE VoteTypeId=3 GROUP BY PostId
) AS DownVotesTab
ON UpVotesTab.PostId=DownVotesTab.PostId
UNION
SELECT DownVotesTab.PostId, IFNULL(UpVotesTab.UpVotes, 0) AS UpVotes, DownVotesTab.DownVotes
FROM
(
SELECT PostId, COUNT(*) AS DownVotes FROM Votes
WHERE VoteTypeId=3 GROUP BY PostId
) AS DownVotesTab
LEFT JOIN
(
SELECT PostId, COUNT(*) AS UpVotes FROM Votes
WHERE VoteTypeId=2 GROUP BY PostId
) AS UpVotesTab
ON DownVotesTab.PostId=UpVotesTab.PostId
)
"""

In [98]:
### W tym zadaniu wyliczamy ocenę każdego postu (upvotes - downvotes),
### robimy to w taki sposób aby uwzględnić sytuacje
### w których post ma same upvotes lub same downvotes

downvotes_df = (votes_df
 [votes_df['VoteTypeId'] == 3]
 .groupby('PostId')[['Id']]
 .count()
 .reset_index()
 .rename(columns={'Id': 'DownVotes'})
)

upvotes_downvotes_df = pd.concat([
    (upvotes_df
     .merge(downvotes_df, how='left', on='PostId')
     .fillna(0)
    ),
    (downvotes_df
     .merge(upvotes_df, how='left', on='PostId')
     .fillna(0))
])

upvotes_downvotes_df['Votes'] = upvotes_downvotes_df['UpVotes'] - upvotes_downvotes_df['DownVotes']
upvotes_downvotes_df.groupby('PostId')[['Votes']].sum().reset_index()

       PostId  Votes
0           1   42.0
1           2   13.0
2           3   10.0
3           4   16.0
4           5   31.0
...       ...    ...
45704   63933    2.0
45705   63934    1.0
45706   63939    1.0
45707   63940    1.0
45708   63941    1.0

[45709 rows x 2 columns]

In [100]:
pd.read_sql_query(query7, conn)

       PostId  Votes
0           1     42
1           2     13
2           3     10
3           4     16
4           5     31
...       ...    ...
45704   63933      2
45705   63934      1
45706   63939      1
45707   63940      1
45708   63941      1

[45709 rows x 2 columns]