In [1]:
import pandas as pd
import numpy as np

import sqlite3

names = ('Badges', 'PostLinks', 'Tags', 'Votes', 'Comments', 'Posts', 'Users')

for name in names:
    print(name)
    print(
        pd.read_csv(f"Exercise02/{name}.csv").head()
    )
    print('-'*10)

Badges
   Class                     Date  Id            Name  TagBased  UserId
0      3  2010-08-25T19:26:49.423   1  Autobiographer     False       2
1      3  2010-08-25T19:26:49.440   2  Autobiographer     False       3
2      3  2010-08-25T19:26:49.457   3  Autobiographer     False       4
3      3  2010-08-25T19:41:49.283   4  Autobiographer     False       6
4      3  2010-08-25T19:41:49.283   5  Autobiographer     False       7
----------
PostLinks
              CreationDate  Id  LinkTypeId  PostId  RelatedPostId
0  2010-08-26T20:33:50.797  31           1     262            261
1  2010-08-29T21:51:09.093  47           1     401            244
2  2010-08-30T01:57:19.137  48           1     132              3
3  2010-08-31T19:13:55.077  65           1     367             27
4  2010-08-31T19:13:55.077  66           1     367            246
----------
Tags
   Count  ExcerptPostId  Id    TagName  WikiPostId
0     21            NaN   1   schrader         NaN
1     44            NaN   2     presta         NaN
2    636         3176.0   4      chain      3175.0
3    117         5375.0   5  lubricant      5374.0
4    594         5390.0   6     frames      5389.0
----------
Votes
   .BountyAmount             CreationDate  Id  PostId  UserId  VoteTypeId
0            NaN  2010-08-25T00:00:00.000   2       1     NaN           2
1            NaN  2010-08-25T00:00:00.000   3       4     NaN           2
2            NaN  2010-08-25T00:00:00.000   4       1     NaN           2
3            NaN  2010-08-25T00:00:00.000   5       1     NaN           2
4            NaN  2010-08-25T00:00:00.000   7       6     NaN           2
----------
Comments
              CreationDate  Id  PostId  Score  UserId
0  2010-08-25T19:43:35.443   1       4      0    21.0
1  2010-08-25T19:48:26.577   2       4      0    10.0
2  2010-08-25T19:57:17.707   5      23      2    38.0
3  2010-08-25T19:58:32.917   6       8      0    27.0
4  2010-08-25T19:58:59.657   7      23      1    28.0
----------
Posts
   AcceptedAnswerId  AnswerCount ClosedDate  CommentCount CommunityOwnedDate  \
0              29.0         11.0        NaN             0                NaN
1              43.0          6.0        NaN             2                NaN
2              17.0          3.0        NaN             5                NaN
3              40.0          7.0        NaN             2                NaN
4              34.0          5.0        NaN             2                NaN

              CreationDate  FavoriteCount  Id         LastActivityDate  \
0  2010-08-25T19:41:17.837            4.0   1  2013-08-30T20:25:22.773
1  2010-08-25T19:41:19.520            1.0   2  2019-08-05T01:24:35.090
2  2010-08-25T19:41:38.863            NaN   4  2017-01-31T09:49:05.640
3  2010-08-25T19:42:10.720            7.0   5  2015-12-30T01:34:02.043
4  2010-08-25T19:42:15.913            2.0   6  2013-12-18T12:16:00.253

              LastEditDate  LastEditorUserId  OwnerUserId  ParentId  \
0  2013-08-30T18:06:36.450            4239.0          7.0       NaN
1                      NaN               NaN         13.0       NaN
2                      NaN               NaN         10.0       NaN
3  2012-08-14T16:54:24.553            3649.0         15.0       NaN
4                      NaN               NaN         17.0       NaN

   PostTypeId  Score                                              Title  \
0           1     42         Can I use a Presta tube in a Schrader rim?
1           1     13      What is the easiest way to fix a loose chain?
2           1     16     How do I measure the size of my bicycle frame?
3           1     31  How to get a bike from one city to another in ...
4           1     22  How do I reduce slack in the chain of a single...

   ViewCount
0    73793.0
1    76081.0
2    19079.0
3     6603.0
4    28689.0
----------
Users
                                             AboutMe  AccountId  \
0  <p>Hi, I'm not really a person.</p>\n\n<p>I'm ...       -1.0
1  <p><a href="http://blog.stackoverflow.com/2010...    29738.0
2  <p><a href="http://blog.stackoverflow.com/2009...        3.0
3  <p>I design stuff for Stack Exchange. Also a p...    21721.0
4  <p><a href="http://blog.stackoverflow.com/2010...    34933.0

              CreationDate      DisplayName  DownVotes  Id  \
0  2010-08-25T18:10:17.440        Community       3644  -1
1  2010-08-25T18:36:14.457   Kevin Montrose          0   2
2  2010-08-25T18:45:18.120     Jarrod Dixon          0   3
3  2010-08-25T19:18:05.777              Jin          0   4
4  2010-08-25T19:38:05.023  Robert Cartaino          6   5

            LastAccessDate                     Location ProfileImageUrl  \
0  2010-08-25T18:10:17.440           on the server farm             NaN
1  2014-01-27T19:50:15.807  New York, NY, United States             NaN
2  2013-04-11T20:28:14.103   Raleigh, NC, United States             NaN
3  2019-08-30T03:07:47.940                  Raleigh, NC             NaN
4  2019-08-15T15:09:35.430                 Palm Bay, FL             NaN

   Reputation  UpVotes  Views                      WebsiteUrl
0           1       69      0  http://meta.stackexchange.com/
1         101        0     12       http://kevinmontrose.com/
2         101        8     11          http://jarroddixon.com
3         101        4     48             http://www.8164.org
4         101        5     20                             NaN
----------

In [2]:
conn = sqlite3.connect('pandas_exercises')

for name in names:
    df = pd.read_csv(f"Exercise02/{name}.csv")
    df.to_sql(name, con=conn, if_exists='replace')

In [3]:
dfs = {
    name: pd.read_csv(f"Exercise02/{name}.csv")
    for name in names
}

In [4]:
query1 = """
--- Zadanie 1
SELECT PostId, COUNT(*) AS UpVotes
FROM Votes
WHERE VoteTypeId=2
GROUP BY PostId
"""

In [5]:
pd.read_sql_query(query1, con=conn)

       PostId  UpVotes
0           1       42
1           2       13
2           3       10
3           4       16
4           5       31
...       ...      ...
41776   63933        2
41777   63934        1
41778   63939        1
41779   63940        1
41780   63941        1

[41781 rows x 2 columns]

In [6]:
query2 = """
--- Zadanie 2
SELECT Title, Score, ViewCount, FavoriteCount
FROM Posts
WHERE PostTypeId=1 AND FavoriteCount >= 25 AND ViewCount>=10000
"""

In [7]:
query3 = """
--- Zadanie 3
SELECT Tags.TagName, Tags.Count, Posts.OwnerUserId,
Users.Location, Users.DisplayName
FROM Tags
JOIN Posts ON Posts.Id=Tags.WikiPostId
JOIN Users ON Users.AccountId=Posts.OwnerUserId
WHERE OwnerUserId != -1
ORDER BY Count DESC
"""

In [8]:
query4 = """
--- Zadanie 4
SELECT Posts.Title, RelatedTab.NumLinks FROM
(SELECT RelatedPostId AS PostId, COUNT(*) AS NumLinks
FROM PostLinks GROUP BY RelatedPostId) AS RelatedTab
JOIN Posts ON RelatedTab.PostId=Posts.Id
WHERE Posts.PostTypeId=1
ORDER BY NumLinks DESC
"""

In [9]:
query5 = """
--- Zadanie 5
SELECT UpVotesTab.*, Posts.Title FROM
(
SELECT PostId, COUNT(*) AS UpVotes FROM Votes WHERE VoteTypeId=2 GROUP BY PostId
) AS UpVotesTab
JOIN Posts ON UpVotesTab.PostId=Posts.Id
WHERE Posts.PostTypeId=1
ORDER BY UpVotesTab.UpVotes DESC
"""

In [10]:
query6 = """
--- Zadanie 6
SELECT UpVotesTab.PostId, UpVotesTab.UpVotes, IFNULL(DownVotesTab.DownVotes, 0) AS DownVotes
FROM
(
SELECT PostId, COUNT(*) AS UpVotes FROM Votes
WHERE VoteTypeId=2 GROUP BY PostId
) AS UpVotesTab
LEFT JOIN
(SELECT PostId, COUNT(*) AS DownVotes FROM Votes
WHERE VoteTypeId=3 GROUP BY PostId
) AS DownVotesTab
ON UpVotesTab.PostId=DownVotesTab.PostId
"""

In [11]:
query7 = """
--- Zadanie 7
SELECT PostId, UpVotes-DownVotes AS Votes FROM (
SELECT UpVotesTab.PostId, UpVotesTab.UpVotes, IFNULL(DownVotesTab.DownVotes, 0) AS DownVotes
FROM
(
SELECT PostId, COUNT(*) AS UpVotes FROM Votes
WHERE VoteTypeId=2 GROUP BY PostId
) AS UpVotesTab
LEFT JOIN
(
SELECT PostId, COUNT(*) AS DownVotes
FROM Votes WHERE VoteTypeId=3 GROUP BY PostId
) AS DownVotesTab
ON UpVotesTab.PostId=DownVotesTab.PostId
UNION
SELECT DownVotesTab.PostId, IFNULL(UpVotesTab.UpVotes, 0) AS UpVotes, DownVotesTab.DownVotes
FROM
(
SELECT PostId, COUNT(*) AS DownVotes FROM Votes
WHERE VoteTypeId=3 GROUP BY PostId
) AS DownVotesTab
LEFT JOIN
(
SELECT PostId, COUNT(*) AS UpVotes FROM Votes
WHERE VoteTypeId=2 GROUP BY PostId
) AS UpVotesTab
ON DownVotesTab.PostId=UpVotesTab.PostId
)
"""