# SQL - stringi i joiny
_Mikołaj Leszczuk_

## Konspekt

* Operacje na stringach (+ćwiczenia)
* Łączenie tabel i wyszukiwanie danych w wielu tabelach (+ćwiczenia)
* Zadania utrwalające 2

## Operacje na stringach

Tu doświadczymy istotnych różnic pomiędzy implementacjami DBMS!

In [ ]:
%CREATE osoby.db rw

In [ ]:
%LOAD osoby.db rw

In [ ]:
CREATE TABLE "osoby" (
    "imię"     VARCHAR,
    "nazwisko" VARCHAR,
    "wiek"     TINYINT
);

In [ ]:
SELECT * FROM osoby;

In [ ]:
INSERT INTO osoby VALUES ("Paweł", "Kowalski", 3);

In [ ]:
INSERT INTO osoby VALUES ("Piotr", "Janik", 7);

In [ ]:
INSERT INTO osoby VALUES ("Michał", "Nowak", 13);

In [ ]:
SELECT * FROM osoby;

### `CONCAT()`

Czasem jest potrzeba wyświetlenia konkatenacji kolumn i jakiegoś łańcucha tekstowego. Do tego może przydać się funkcja `CONCAT()`.

Składnia operatora konkatenacji różni się od siebie w bazach danych:

* Oracle: `CONCAT()` lub `||`
* MySQL: `CONCAT()`
* SQL Server: `+`
* SQLite: `||`

#### Składnia dla MySQL/Oracle

```mysql
SELECT CONCAT(nazwa_kolumny1,nazwa_kolumny2) FROM nazwa_tabeli;
```

##### Przykład

```mysql
CONCAT()
```

**Wyświetl tekst powstały z połączenia imienia z nazwiskiem**

Tabela **``Osoby``**:

In [ ]:
SELECT * FROM osoby;

Zapytanie i wynik zapytania SQLite:

In [ ]:
SELECT CONCAT(imię,nazwisko) FROM osoby;

Zapytanie i wynik zapytania MySQL/Oracle:

```mysql
SELECT CONCAT(imię,nazwisko) FROM osoby;
```

|     CONCAT(imię,nazwisko)    |
|:----------------------------:|
|     PawełKowalski            |
|     PiotrJanik               |
|     MichałNowak              |

W Oracle funkcja `CONCAT()` przyjmuje wyłącznie 2 argumenty. Problem można ominąć używając operatora `||` dostępnego tylko w Oracle i SQLite.

#### Składnia użycia operatora `||` w Oracle/SQLite

```sql
SELECT 'dowolny_tekst'||nazwa_kolumny1||'dowolny_tekst'||nazwa_kolumny2 FROM nazwa_tabeli;
```

##### Przykład

Użycie `||` w Oracle/SQLite

**Wyświetl imię i nazwisko oddzielone spacją `(" ")`**

Tabela **`Osoby`**:

In [ ]:
SELECT * FROM osoby;

Zapytanie i wynik zapytania:

In [ ]:
SELECT imię||' '||nazwisko FROM osoby;

#### Składnia dla SQL Server

```sql
SELECT 'dowolny_tekst'+nazwa_kolumny1+'dowolny_tekst'+ nazwa_kolumny2 FROM nazwa_tabeli;
```

##### Przykład

Użycie `+` w SQL Server

**Wyświetl imię i nazwisko oddzielone spacją `(" ")`**

Tabela **`Osoby`**:

In [ ]:
SELECT * FROM osoby;

Zapytanie i wynik zapytania SQLite:

In [ ]:
SELECT imię+' '+nazwisko FROM osoby;

Zapytanie i wynik zapytania SQL Server:

```sql
SELECT imię+' '+nazwisko FROM osoby;
```

|     imię+' '+nazwisko    |
|:------------------------:|
|     Paweł   Kowalski     |
|     Piotr   Janik        |
|     Michał   Nowak       |

#### Ćwiczenie

**Wyświetl bez powtórzeń imię i nazwisko oddzielone spacją `(" ")`**

Tabela **`Simple_library_db`**:

[00 SQL - Reset.ipynb](00%20SQL%20-%20Reset.ipynb)

In [ ]:
%LOAD simple_library_db.db rw

In [ ]:
SELECT * FROM simple_library_db;

Wpisz zapytanie do bazy!

---

Zapytanie i wynik zapytania:

In [ ]:
SELECT DISTINCT author_name||' '|| author_surname FROM simple_library_db;

### `LOWER(nazwa_kolumny)` i `UPPER(nazwa_kolumny)`

Funkcja zwraca wartość kolumny tekstowej w postaci małych/dużych liter.

Składnia:

```sqlite
SELECT LOWER(nazwa_kolumny) FROM nazwa_tabeli;
```

```sqlite
SELECT UPPER(nazwa_kolumny) FROM nazwa_tabeli;
```

#### Przykład

```sql
LOWER()
```

**Wyświetl wszystkie nazwiska małymi literami**

Tabela **`Osoby`**:

In [ ]:
%LOAD osoby.db rw

In [ ]:
SELECT * FROM osoby;

Zapytanie i wynik zapytania:

In [ ]:
SELECT LOWER(nazwisko) FROM osoby;

#### Przykład

```sql
UPPER()
```

**Wyświetl wszystkie nazwiska dużymi literami**

Tabela **`Osoby`**:

In [ ]:
SELECT * FROM osoby;

Zapytanie i wynik zapytania:

In [ ]:
SELECT UPPER(nazwisko) FROM osoby;

#### Ćwiczenie

**Wyświetl bez powtórzeń imię małymi literami i nazwisko dużymi literami**

Tabela **`Simple_library_db`**:

In [ ]:
%LOAD simple_library_db.db rw

In [ ]:
SELECT * FROM simple_library_db;

Wpisz zapytanie do bazy!

---

Zapytanie i wynik zapytania:

In [ ]:
SELECT DISTINCT LOWER(author_name), UPPER(author_surname) FROM simple_library_db;

### `LENGTH(nazwa_kolumny)`

Funkcja zwraca długość pola tekstowego podanego jako argument

Składnia:

```sqlite
SELECT LENGTH(nazwa_kolumny) FROM nazwa_tabeli;
```

W SQL Server używa się do tego samego funkcji `LEN()`

#### Przykład

```sql
LENGTH()
```

**Wyświetl nazwisko i odpowiadającą jemu długość nazwiska**

Tabela **`Osoby`**:

In [ ]:
%LOAD osoby.db rw

In [ ]:
SELECT * FROM osoby;

Zapytanie i wynik zapytania:

In [ ]:
SELECT nazwisko,LENGTH(nazwisko) FROM osoby;

### `REPLACE(str1,str2,str3)`

Funkcja przeszukuje `str1` w poszukiwaniu `str2` aby go zamienić na `str3`

Składnia:

```sqlite
SELECT REPLACE(nazwa_kolumny,'str2','str3') FROM nazwa_tabeli;
```

#### Przykład

```sql
REPLACE()
```

**Wyświetl imiona i nazwiska z tym że zamiast imienia Michał wyświetl Michael**

Tabela **`Osoby`**:

In [ ]:
SELECT * FROM osoby;

Zapytanie i wynik zapytania:

In [ ]:
SELECT REPLACE(imię,'Michał','Michael'), nazwisko FROM osoby;

### `SUBSTR(nazwa_kolumny,pozycja[,liczba_znaków])`

Funkcja ta służy do operacji na łańcuchach tekstowych w wyniku zapytań. Może przyjmować 2-3 argumentów.

```sql
SUBSTR(nazwa_kolumny,pozycja[,liczba_znaków])
```

`nazwa_kolumny` - łańcuch tekstowy do obcięcia

`pozycja` - nr znaku od którego ma być wyświetlony string

`liczba_znaków` - argument opcjonalny, liczba znaków do wyświetlenia, liczona od parametru pozycja

W Oracle oraz w niektórych wersjach MySQL używa się funkcji `SUBSTRING()`

Natomiast w MS Access stosuje się `MID()`

Składnia:

```sqlite
SELECT SUBSTR(nazwa_kolumny,pozycja[,liczba_znaków]) FROM nazwa_tabeli;
```

#### Przykład

```sqlite
SUBSTR()
```

**Wyświetl dwie pierwsze litery z nazwiska**

Tabela **`Osoby`**:

In [ ]:
SELECT * FROM osoby;

Zapytanie i wynik zapytania:

In [ ]:
SELECT SUBSTR(nazwisko,1,2) FROM osoby;

## Łączenie tabel i wyszukiwanie danych w wielu tabelach

Czasem potrzebujemy wybrać dane z tabeli w zależności od danych pochodzących z innej tabeli. Do rozwiązania tego problemu służy operacja zwana **łączeniem (`JOIN`)**.

Jeśli w zapytaniu potrzebne nam są dane z `tabeli1` i `tabeli2` to musimy wpisać ich nazwy zaraz po słowie `FROM` (tak jak to robimy w standardowych zapytaniach) a następnie odwoływać się do kolumn z tych tabel używając: nazwy konkretnej tabeli, operatora kropki “`.`” oraz nazwy żądanej kolumny.

```sqlite
SELECT tabela.kolumna,tabela2.kolumna FROM tabela,tabela2 ON tabela2.kolumna=tabela.kolumna
```

Operator “`,`” jest skrótem od słowa kluczowego `JOIN`, które oznacza zebranie wymienionych tabel w jedną dużą i operowanie na niej.

Możliwe jest łączenie trzech i więcej tabel. Działa to analogicznie jak w przypadku dwóch tabel.

`JOIN` łączy rekordy z dwóch kolumn w jeden na podstawie podanego warunku

#### Przykład

**Łączymy rekordy z tabel `Authors` i `Titles` w jedną tabelę na podstawie podanego warunku równości `authors.id` i `titles.author_id`**

Tabela **`Authors`**:

In [1]:
%LOAD library_db.db rw

In [2]:
SELECT * FROM authors;

+----+------------+------------+
| ID | surname    | name       |
+----+------------+------------+
| 1  | Lem        | Stanisław |
+----+------------+------------+
| 2  | Kosik      | Rafał     |
+----+------------+------------+
| 3  | Gombrowicz | Witold     |
+----+------------+------------+
| 4  | Mrożek    | Sławomir  |
+----+------------+------------+
| 5  | Dukaj      | Jacek      |
+----+------------+------------+
| 6  | Sapkowki   | Andrzej    |
+----+------------+------------+

Tabela **`Titles`**:

In [3]:
SELECT * FROM titles;

+----+---------------------------------------+-----------+
| ID | title                                 | author_id |
+----+---------------------------------------+-----------+
| 1  | Solaris                               | 1         |
+----+---------------------------------------+-----------+
| 2  | Cyberiada                             | 1         |
+----+---------------------------------------+-----------+
| 3  | Katar                                 | 1         |
+----+---------------------------------------+-----------+
| 4  | Bajki robotów                        | 1         |
+----+---------------------------------------+-----------+
| 5  | Opowieści o Pilocie Pirxie           | 1         |
+----+---------------------------------------+-----------+
| 6  | Rękopis znaleziony w wannie          | 1         |
+----+---------------------------------------+-----------+
| 7  | Dzienniki gwiazdowe                   | 1         |
+----+---------------------------------------+-----------+
| 8  | Eden                                  | 1         |
+----+---------------------------------------+-----------+
| 9  | Śledztwo                             | 1         |
+----+---------------------------------------+-----------+
| 10 | Powrót z gwiazd                      | 1         |
+----+---------------------------------------+-----------+
| 11 | Niezwyciężony                       | 1         |
+----+---------------------------------------+-----------+
| 12 | Wysoki zamek                          | 1         |
+----+---------------------------------------+-----------+
| 13 | Głos Pana                            | 1         |
+----+---------------------------------------+-----------+
| 14 | Pożytek ze smoka                     | 1         |
+----+---------------------------------------+-----------+
| 15 | Sknocony kryminał                    | 1         |
+----+---------------------------------------+-----------+
| 16 | Mars                                  | 2         |
+----+---------------------------------------+-----------+
| 17 | Kameleon                              | 2         |
+----+---------------------------------------+-----------+
| 18 | Vertical                              | 2         |
+----+---------------------------------------+-----------+
| 19 | Różaniec                            | 2         |
+----+---------------------------------------+-----------+
| 20 | Obywatel który się zawiesił        | 2         |
+----+---------------------------------------+-----------+
| 21 | Pamiętniki z okresu dojrzewania      | 3         |
+----+---------------------------------------+-----------+
| 22 | Ferdydurke                            | 3         |
+----+---------------------------------------+-----------+
| 23 | Trans-Atlantyk                        | 3         |
+----+---------------------------------------+-----------+
| 24 | Iwona księżniczka Burgunda          | 3         |
+----+---------------------------------------+-----------+
| 25 | Ślub                                 | 3         |
+----+---------------------------------------+-----------+
| 26 | Operetka                              | 3         |
+----+---------------------------------------+-----------+
| 27 | Bakakaj                               | 3         |
+----+---------------------------------------+-----------+
| 28 | Tango                                 | 4         |
+----+---------------------------------------+-----------+
| 29 | Emigranci                             | 4         |
+----+---------------------------------------+-----------+
| 30 | Kynolog w rozterce                    | 4         |
+----+---------------------------------------+-----------+
| 31 | Miłość na Krymie                   | 4         |
+----+---------------------------------------+-----------+
| 32 | Wesele w Atomicach                    | 4         |
+----+---------------------------------------+-----------+
| 33 | Lód                                  | 5         |
+----+---------------------------------------+-----------+
| 34 | Wrociec                               | 5         |
+----+---------------------------------------+-----------+
| 35 | Perfekcyjna niedoskonałość         | 5         |
+----+---------------------------------------+-----------+
| 36 | Katedra                               | 5         |
+----+---------------------------------------+-----------+
| 37 | Narrenturm                            | 6         |
+----+---------------------------------------+-----------+
| 38 | Boży wojownicy                       | 6         |
+----+---------------------------------------+-----------+
| 39 | Lux perpetua                          | 6         |
+----+---------------------------------------+-----------+
| 40 | Rękopis znaleziony w smoczej jaskini | 6         |
+----+---------------------------------------+-----------+

Zapytanie i wynik zapytania:

In [4]:
SELECT * FROM authors JOIN titles ON authors.ID=titles.author_id;

+----+------------+------------+----+---------------------------------------+-----------+
| ID | surname    | name       | ID | title                                 | author_id |
+----+------------+------------+----+---------------------------------------+-----------+
| 1  | Lem        | Stanisław | 1  | Solaris                               | 1         |
+----+------------+------------+----+---------------------------------------+-----------+
| 1  | Lem        | Stanisław | 10 | Powrót z gwiazd                      | 1         |
+----+------------+------------+----+---------------------------------------+-----------+
| 1  | Lem        | Stanisław | 11 | Niezwyciężony                       | 1         |
+----+------------+------------+----+---------------------------------------+-----------+
| 1  | Lem        | Stanisław | 12 | Wysoki zamek                          | 1         |
+----+------------+------------+----+---------------------------------------+-----------+
| 1  | Lem        | Stanisław | 13 | Głos Pana                            | 1         |
+----+------------+------------+----+---------------------------------------+-----------+
| 1  | Lem        | Stanisław | 14 | Pożytek ze smoka                     | 1         |
+----+------------+------------+----+---------------------------------------+-----------+
| 1  | Lem        | Stanisław | 15 | Sknocony kryminał                    | 1         |
+----+------------+------------+----+---------------------------------------+-----------+
| 1  | Lem        | Stanisław | 2  | Cyberiada                             | 1         |
+----+------------+------------+----+---------------------------------------+-----------+
| 1  | Lem        | Stanisław | 3  | Katar                                 | 1         |
+----+------------+------------+----+---------------------------------------+-----------+
| 1  | Lem        | Stanisław | 4  | Bajki robotów                        | 1         |
+----+------------+------------+----+---------------------------------------+-----------+
| 1  | Lem        | Stanisław | 5  | Opowieści o Pilocie Pirxie           | 1         |
+----+------------+------------+----+---------------------------------------+-----------+
| 1  | Lem        | Stanisław | 6  | Rękopis znaleziony w wannie          | 1         |
+----+------------+------------+----+---------------------------------------+-----------+
| 1  | Lem        | Stanisław | 7  | Dzienniki gwiazdowe                   | 1         |
+----+------------+------------+----+---------------------------------------+-----------+
| 1  | Lem        | Stanisław | 8  | Eden                                  | 1         |
+----+------------+------------+----+---------------------------------------+-----------+
| 1  | Lem        | Stanisław | 9  | Śledztwo                             | 1         |
+----+------------+------------+----+---------------------------------------+-----------+
| 2  | Kosik      | Rafał     | 16 | Mars                                  | 2         |
+----+------------+------------+----+---------------------------------------+-----------+
| 2  | Kosik      | Rafał     | 17 | Kameleon                              | 2         |
+----+------------+------------+----+---------------------------------------+-----------+
| 2  | Kosik      | Rafał     | 18 | Vertical                              | 2         |
+----+------------+------------+----+---------------------------------------+-----------+
| 2  | Kosik      | Rafał     | 19 | Różaniec                            | 2         |
+----+------------+------------+----+---------------------------------------+-----------+
| 2  | Kosik      | Rafał     | 20 | Obywatel który się zawiesił        | 2         |
+----+------------+------------+----+---------------------------------------+-----------+
| 3  | Gombrowicz | Witold     | 21 | Pamiętniki z okresu dojrzewania      | 3         |
+----+------------+------------+----+---------------------------------------+-----------+
| 3  | Gombrowicz | Witold     | 22 | Ferdydurke                            | 3         |
+----+------------+------------+----+---------------------------------------+-----------+
| 3  | Gombrowicz | Witold     | 23 | Trans-Atlantyk                        | 3         |
+----+------------+------------+----+---------------------------------------+-----------+
| 3  | Gombrowicz | Witold     | 24 | Iwona księżniczka Burgunda          | 3         |
+----+------------+------------+----+---------------------------------------+-----------+
| 3  | Gombrowicz | Witold     | 25 | Ślub                                 | 3         |
+----+------------+------------+----+---------------------------------------+-----------+
| 3  | Gombrowicz | Witold     | 26 | Operetka                              | 3         |
+----+------------+------------+----+---------------------------------------+-----------+
| 3  | Gombrowicz | Witold     | 27 | Bakakaj                               | 3         |
+----+------------+------------+----+---------------------------------------+-----------+
| 4  | Mrożek    | Sławomir  | 28 | Tango                                 | 4         |
+----+------------+------------+----+---------------------------------------+-----------+
| 4  | Mrożek    | Sławomir  | 29 | Emigranci                             | 4         |
+----+------------+------------+----+---------------------------------------+-----------+
| 4  | Mrożek    | Sławomir  | 30 | Kynolog w rozterce                    | 4         |
+----+------------+------------+----+---------------------------------------+-----------+
| 4  | Mrożek    | Sławomir  | 31 | Miłość na Krymie                   | 4         |
+----+------------+------------+----+---------------------------------------+-----------+
| 4  | Mrożek    | Sławomir  | 32 | Wesele w Atomicach                    | 4         |
+----+------------+------------+----+---------------------------------------+-----------+
| 5  | Dukaj      | Jacek      | 33 | Lód                                  | 5         |
+----+------------+------------+----+---------------------------------------+-----------+
| 5  | Dukaj      | Jacek      | 34 | Wrociec                               | 5         |
+----+------------+------------+----+---------------------------------------+-----------+
| 5  | Dukaj      | Jacek      | 35 | Perfekcyjna niedoskonałość         | 5         |
+----+------------+------------+----+---------------------------------------+-----------+
| 5  | Dukaj      | Jacek      | 36 | Katedra                               | 5         |
+----+------------+------------+----+---------------------------------------+-----------+
| 6  | Sapkowki   | Andrzej    | 37 | Narrenturm                            | 6         |
+----+------------+------------+----+---------------------------------------+-----------+
| 6  | Sapkowki   | Andrzej    | 38 | Boży wojownicy                       | 6         |
+----+------------+------------+----+---------------------------------------+-----------+
| 6  | Sapkowki   | Andrzej    | 39 | Lux perpetua                          | 6         |
+----+------------+------------+----+---------------------------------------+-----------+
| 6  | Sapkowki   | Andrzej    | 40 | Rękopis znaleziony w smoczej jaskini | 6         |
+----+------------+------------+----+---------------------------------------+-----------+

#### Ćwiczenie

**Znajdź nazwisko i tytuły książek napisanych przez autora o identyfikatorze 3**

Tabela **`Titles`**:

In [5]:
SELECT * FROM titles;

+----+---------------------------------------+-----------+
| ID | title                                 | author_id |
+----+---------------------------------------+-----------+
| 1  | Solaris                               | 1         |
+----+---------------------------------------+-----------+
| 2  | Cyberiada                             | 1         |
+----+---------------------------------------+-----------+
| 3  | Katar                                 | 1         |
+----+---------------------------------------+-----------+
| 4  | Bajki robotów                        | 1         |
+----+---------------------------------------+-----------+
| 5  | Opowieści o Pilocie Pirxie           | 1         |
+----+---------------------------------------+-----------+
| 6  | Rękopis znaleziony w wannie          | 1         |
+----+---------------------------------------+-----------+
| 7  | Dzienniki gwiazdowe                   | 1         |
+----+---------------------------------------+-----------+
| 8  | Eden                                  | 1         |
+----+---------------------------------------+-----------+
| 9  | Śledztwo                             | 1         |
+----+---------------------------------------+-----------+
| 10 | Powrót z gwiazd                      | 1         |
+----+---------------------------------------+-----------+
| 11 | Niezwyciężony                       | 1         |
+----+---------------------------------------+-----------+
| 12 | Wysoki zamek                          | 1         |
+----+---------------------------------------+-----------+
| 13 | Głos Pana                            | 1         |
+----+---------------------------------------+-----------+
| 14 | Pożytek ze smoka                     | 1         |
+----+---------------------------------------+-----------+
| 15 | Sknocony kryminał                    | 1         |
+----+---------------------------------------+-----------+
| 16 | Mars                                  | 2         |
+----+---------------------------------------+-----------+
| 17 | Kameleon                              | 2         |
+----+---------------------------------------+-----------+
| 18 | Vertical                              | 2         |
+----+---------------------------------------+-----------+
| 19 | Różaniec                            | 2         |
+----+---------------------------------------+-----------+
| 20 | Obywatel który się zawiesił        | 2         |
+----+---------------------------------------+-----------+
| 21 | Pamiętniki z okresu dojrzewania      | 3         |
+----+---------------------------------------+-----------+
| 22 | Ferdydurke                            | 3         |
+----+---------------------------------------+-----------+
| 23 | Trans-Atlantyk                        | 3         |
+----+---------------------------------------+-----------+
| 24 | Iwona księżniczka Burgunda          | 3         |
+----+---------------------------------------+-----------+
| 25 | Ślub                                 | 3         |
+----+---------------------------------------+-----------+
| 26 | Operetka                              | 3         |
+----+---------------------------------------+-----------+
| 27 | Bakakaj                               | 3         |
+----+---------------------------------------+-----------+
| 28 | Tango                                 | 4         |
+----+---------------------------------------+-----------+
| 29 | Emigranci                             | 4         |
+----+---------------------------------------+-----------+
| 30 | Kynolog w rozterce                    | 4         |
+----+---------------------------------------+-----------+
| 31 | Miłość na Krymie                   | 4         |
+----+---------------------------------------+-----------+
| 32 | Wesele w Atomicach                    | 4         |
+----+---------------------------------------+-----------+
| 33 | Lód                                  | 5         |
+----+---------------------------------------+-----------+
| 34 | Wrociec                               | 5         |
+----+---------------------------------------+-----------+
| 35 | Perfekcyjna niedoskonałość         | 5         |
+----+---------------------------------------+-----------+
| 36 | Katedra                               | 5         |
+----+---------------------------------------+-----------+
| 37 | Narrenturm                            | 6         |
+----+---------------------------------------+-----------+
| 38 | Boży wojownicy                       | 6         |
+----+---------------------------------------+-----------+
| 39 | Lux perpetua                          | 6         |
+----+---------------------------------------+-----------+
| 40 | Rękopis znaleziony w smoczej jaskini | 6         |
+----+---------------------------------------+-----------+

Tabela **`Authors`**:

In [6]:
SELECT * FROM authors;

+----+------------+------------+
| ID | surname    | name       |
+----+------------+------------+
| 1  | Lem        | Stanisław |
+----+------------+------------+
| 2  | Kosik      | Rafał     |
+----+------------+------------+
| 3  | Gombrowicz | Witold     |
+----+------------+------------+
| 4  | Mrożek    | Sławomir  |
+----+------------+------------+
| 5  | Dukaj      | Jacek      |
+----+------------+------------+
| 6  | Sapkowki   | Andrzej    |
+----+------------+------------+

Wpisz zapytanie do bazy!

---

Zapytanie i wynik zapytania:

In [7]:
SELECT authors.surname,titles.title FROM authors JOIN titles ON authors.ID=titles.author_id
WHERE titles.author_id="3";

+------------+----------------------------------+
| surname    | title                            |
+------------+----------------------------------+
| Gombrowicz | Bakakaj                          |
+------------+----------------------------------+
| Gombrowicz | Ferdydurke                       |
+------------+----------------------------------+
| Gombrowicz | Iwona księżniczka Burgunda     |
+------------+----------------------------------+
| Gombrowicz | Operetka                         |
+------------+----------------------------------+
| Gombrowicz | Pamiętniki z okresu dojrzewania |
+------------+----------------------------------+
| Gombrowicz | Trans-Atlantyk                   |
+------------+----------------------------------+
| Gombrowicz | Ślub                            |
+------------+----------------------------------+

#### Ćwiczenie

**Znajdź imiona, nazwiska i tytuły książek napisanych przez autorów o imieniu rozpoczynającym się na “`S`”**

Tabela **`Titles`**:

In [8]:
SELECT * FROM titles;

+----+---------------------------------------+-----------+
| ID | title                                 | author_id |
+----+---------------------------------------+-----------+
| 1  | Solaris                               | 1         |
+----+---------------------------------------+-----------+
| 2  | Cyberiada                             | 1         |
+----+---------------------------------------+-----------+
| 3  | Katar                                 | 1         |
+----+---------------------------------------+-----------+
| 4  | Bajki robotów                        | 1         |
+----+---------------------------------------+-----------+
| 5  | Opowieści o Pilocie Pirxie           | 1         |
+----+---------------------------------------+-----------+
| 6  | Rękopis znaleziony w wannie          | 1         |
+----+---------------------------------------+-----------+
| 7  | Dzienniki gwiazdowe                   | 1         |
+----+---------------------------------------+-----------+
| 8  | Eden                                  | 1         |
+----+---------------------------------------+-----------+
| 9  | Śledztwo                             | 1         |
+----+---------------------------------------+-----------+
| 10 | Powrót z gwiazd                      | 1         |
+----+---------------------------------------+-----------+
| 11 | Niezwyciężony                       | 1         |
+----+---------------------------------------+-----------+
| 12 | Wysoki zamek                          | 1         |
+----+---------------------------------------+-----------+
| 13 | Głos Pana                            | 1         |
+----+---------------------------------------+-----------+
| 14 | Pożytek ze smoka                     | 1         |
+----+---------------------------------------+-----------+
| 15 | Sknocony kryminał                    | 1         |
+----+---------------------------------------+-----------+
| 16 | Mars                                  | 2         |
+----+---------------------------------------+-----------+
| 17 | Kameleon                              | 2         |
+----+---------------------------------------+-----------+
| 18 | Vertical                              | 2         |
+----+---------------------------------------+-----------+
| 19 | Różaniec                            | 2         |
+----+---------------------------------------+-----------+
| 20 | Obywatel który się zawiesił        | 2         |
+----+---------------------------------------+-----------+
| 21 | Pamiętniki z okresu dojrzewania      | 3         |
+----+---------------------------------------+-----------+
| 22 | Ferdydurke                            | 3         |
+----+---------------------------------------+-----------+
| 23 | Trans-Atlantyk                        | 3         |
+----+---------------------------------------+-----------+
| 24 | Iwona księżniczka Burgunda          | 3         |
+----+---------------------------------------+-----------+
| 25 | Ślub                                 | 3         |
+----+---------------------------------------+-----------+
| 26 | Operetka                              | 3         |
+----+---------------------------------------+-----------+
| 27 | Bakakaj                               | 3         |
+----+---------------------------------------+-----------+
| 28 | Tango                                 | 4         |
+----+---------------------------------------+-----------+
| 29 | Emigranci                             | 4         |
+----+---------------------------------------+-----------+
| 30 | Kynolog w rozterce                    | 4         |
+----+---------------------------------------+-----------+
| 31 | Miłość na Krymie                   | 4         |
+----+---------------------------------------+-----------+
| 32 | Wesele w Atomicach                    | 4         |
+----+---------------------------------------+-----------+
| 33 | Lód                                  | 5         |
+----+---------------------------------------+-----------+
| 34 | Wrociec                               | 5         |
+----+---------------------------------------+-----------+
| 35 | Perfekcyjna niedoskonałość         | 5         |
+----+---------------------------------------+-----------+
| 36 | Katedra                               | 5         |
+----+---------------------------------------+-----------+
| 37 | Narrenturm                            | 6         |
+----+---------------------------------------+-----------+
| 38 | Boży wojownicy                       | 6         |
+----+---------------------------------------+-----------+
| 39 | Lux perpetua                          | 6         |
+----+---------------------------------------+-----------+
| 40 | Rękopis znaleziony w smoczej jaskini | 6         |
+----+---------------------------------------+-----------+

Tabela **`Authors`**:

In [9]:
SELECT * FROM authors;

+----+------------+------------+
| ID | surname    | name       |
+----+------------+------------+
| 1  | Lem        | Stanisław |
+----+------------+------------+
| 2  | Kosik      | Rafał     |
+----+------------+------------+
| 3  | Gombrowicz | Witold     |
+----+------------+------------+
| 4  | Mrożek    | Sławomir  |
+----+------------+------------+
| 5  | Dukaj      | Jacek      |
+----+------------+------------+
| 6  | Sapkowki   | Andrzej    |
+----+------------+------------+

Wpisz zapytanie do bazy!

---

Zapytanie i wynik zapytania:

In [10]:
SELECT authors.name,authors.surname,titles.title FROM authors JOIN titles
ON authors.ID=titles.author_id WHERE authors.name LIKE 'S%';

+------------+---------+------------------------------+
| name       | surname | title                        |
+------------+---------+------------------------------+
| Stanisław | Lem     | Bajki robotów               |
+------------+---------+------------------------------+
| Stanisław | Lem     | Cyberiada                    |
+------------+---------+------------------------------+
| Stanisław | Lem     | Dzienniki gwiazdowe          |
+------------+---------+------------------------------+
| Stanisław | Lem     | Eden                         |
+------------+---------+------------------------------+
| Stanisław | Lem     | Głos Pana                   |
+------------+---------+------------------------------+
| Stanisław | Lem     | Katar                        |
+------------+---------+------------------------------+
| Stanisław | Lem     | Niezwyciężony              |
+------------+---------+------------------------------+
| Stanisław | Lem     | Opowieści o Pilocie Pirxie  |
+------------+---------+------------------------------+
| Stanisław | Lem     | Powrót z gwiazd             |
+------------+---------+------------------------------+
| Stanisław | Lem     | Pożytek ze smoka            |
+------------+---------+------------------------------+
| Stanisław | Lem     | Rękopis znaleziony w wannie |
+------------+---------+------------------------------+
| Stanisław | Lem     | Sknocony kryminał           |
+------------+---------+------------------------------+
| Stanisław | Lem     | Solaris                      |
+------------+---------+------------------------------+
| Stanisław | Lem     | Wysoki zamek                 |
+------------+---------+------------------------------+
| Stanisław | Lem     | Śledztwo                    |
+------------+---------+------------------------------+
| Sławomir  | Mrożek | Emigranci                    |
+------------+---------+------------------------------+
| Sławomir  | Mrożek | Kynolog w rozterce           |
+------------+---------+------------------------------+
| Sławomir  | Mrożek | Miłość na Krymie          |
+------------+---------+------------------------------+
| Sławomir  | Mrożek | Tango                        |
+------------+---------+------------------------------+
| Sławomir  | Mrożek | Wesele w Atomicach           |
+------------+---------+------------------------------+

### Łączenie tabel z użyciem aliasów

```sql
SELECT tab.kolumna FROM tabela AS tab,tabela2 AS tab2 WHERE tab2.kolumna=wartość;
```

#### Przykład

**Podajemy id, nazwę i ilość zamówionych produktów w zamówieniu o id `4` korzystając z aliasów dla tabel `Order_product` i `Product`**

Tabela **`Order_product`**:

In [11]:
%LOAD CodeBrainers.db rw

In [12]:
SELECT * FROM order_product;

+----------+------------+--------+
| order_id | product_id | amount |
+----------+------------+--------+
| 1        | 2          | 2      |
+----------+------------+--------+
| 1        | 4          | 1      |
+----------+------------+--------+
| 2        | 6          | 1      |
+----------+------------+--------+
| 2        | 8          | 1      |
+----------+------------+--------+
| 2        | 5          | 2      |
+----------+------------+--------+
| 3        | 5          | 1      |
+----------+------------+--------+
| 3        | 7          | 2      |
+----------+------------+--------+
| 4        | 5          | 1      |
+----------+------------+--------+
| 4        | 2          | 1      |
+----------+------------+--------+
| 4        | 7          | 2      |
+----------+------------+--------+
| 5        | 4          | 1      |
+----------+------------+--------+
| 6        | 6          | 1      |
+----------+------------+--------+

Tabela **`Product`**:

In [13]:
SELECT * FROM product;

+----+---------+-------+--------+------------+
| id | name    | price | amount | date       |
+----+---------+-------+--------+------------+
| 5  | Spodnie | 100.0 | 5      | 2011-02-01 |
+----+---------+-------+--------+------------+
| 6  | Bluza   | 60.0  | 2      | 2011-02-12 |
+----+---------+-------+--------+------------+

Zapytanie i wynik zapytania:

In [14]:
SELECT p.id, p.name, op.amount FROM order_product AS op, product AS p
WHERE op.order_id = 4 AND p.id = op.product_id;

+----+---------+--------+
| id | name    | amount |
+----+---------+--------+
| 5  | Spodnie | 1      |
+----+---------+--------+

## Zadania utrwalające 2

### Ćwiczenia

[`02_joins.md`](https://github.com/pkociepka/sql/blob/master/exercises/02_joins.md)

### Materiały

[`library_db.sql`](https://github.com/pkociepka/sql/blob/master/library_db.sql)

Schemat bazy danych z pliku [`library_db.sql`](https://github.com/pkociepka/sql/blob/master/library_db.sql) znajdziesz w pliku [`library_db_scheme.png`](https://github.com/pkociepka/sql/blob/master/library_db_schema.png)

![](https://raw.githubusercontent.com/pkociepka/sql/master/library_db_schema.png)